* {box-sizing:border-box;}
body {text-align: center;}

.control-btn {position: absolute; bottom: 20%; left:5%;}
.control-btn div {width:100px; height:100px; background:#555; border-radius:10px; background:#92929254;}
.control-btn div i {color:#000000b5; font-size:70px; padding-top:12px;}
.control-btn .top {margin: auto;}
.control-btn .left {float:left;}
.control-btn .right {float:right;}
.control-btn .bottom {clear:both; margin: auto;}
aside {width:300px; margin:auto;}

@media screen and (max-width: 850px) {
	canvas {width:400px;}
	.control-btn {width:100%; bottom:20px; left:0px;} 
	aside {width:300px; margin:auto;}
}

@media screen and (max-width: 520px) {
	canvas {width:400px;}
	.control-btn {width:100%; bottom:20px; left:0px;} 
	aside {width:210px; margin:auto;}
	.control-btn div {width:70px; height:70px;}
	.control-btn div i {font-size:50px; padding-top:8px;}
}

@media screen and (max-width: 420px) {
	canvas {width:300px;}
	
}
